<ion-modal-view view-title="更改密码">
    <ion-header-bar>
        <button class="button btn-warning" ng-click="closePasswordModal()">取消</button>
        <button class="button button-calm" ng-click="savePasswordModal()">确定</button>
    </ion-header-bar>
	<ion-content style="margin: 10px;">
		<form name="updatepassword_form" novalidate ng-submit="updatePassword()">
                <div  class="large-12 columns">
                    <span class="input-label">原密码</span>
                    <input type="password" style="border: 1px solid lightgrey; width: 100%;" name="oldPassword" ng-model="temp.oldPassword" required>
                    <div class="error" ng-show="updatepassword_form.oldPassword.$dirty && updatepassword_form.oldPassword.$invalid && updatepassword_form.submitted">
                        <small class="error" ng-show="updatepassword_form.oldPassword.$error.required">
                            请输入原密码
                        </small>
                    </div>
                </div>
                <div class="large-12 columns">
                    <span class="input-label">新密码</span>
                    <input type="password" style="border: 1px solid lightgrey; width: 100%;" name="newPassword1" ng-model="temp.newPassword1" ng-minlength="6" required>
                    <div class="error" ng-show="updatepassword_form.newPassword.$dirty && updatepassword_form.newPassword.$invalid && updatepassword_form.submitted">
                        <small class="error" ng-show="updatepassword_form.newPassword.$error.required">
                            请输入新密码.
                        </small>
                        <small class="error" ng-show="updatepassword_form.newPassword.$error.minlength">
                            新密码长度至少为6位
                        </small>
                    </div>
                </div>
                <div class="large-12 columns">
                    <span class="input-label">重复新密码</span>
                    <input type="password" style="border: 1px solid lightgrey; width: 100%;" name="newPassword2" ng-model="temp.newPassword2" ng-minlength="6" required>
                    <div class="error" ng-show="updatepassword_form.newPassword.$dirty && updatepassword_form.newPassword.$invalid && updatepassword_form.submitted">
                        <small class="error" ng-show="updatepassword_form.newPassword.$error.required">
                            请重复输入新密码.
                        </small>
                        <small class="error" ng-show="updatepassword_form.newPassword.$error.minlength">
                            新密码长度至少为6位
                        </small>
                    </div>
                </div>
                <div class="padding">
                    <button class="button button-block button-calm" type="submit" ng-click="savePasswordModal()">
                        更改密码
                    </button>
                </div>
</form>
	</ion-content>
</ion-modal-view>