<ion-view view-title="个人信息">
    <ion-nav-buttons side="left">
        <button class="button back-button button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-checkmark-circled header-item" ng-click="save()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar-right" type="item-text-wrap" ng-click="showActionsheet()">
                <img class="profileImg" src="{{user.img}}">
                <h2>{{user.userName}}</h2>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="openNickModal()">
                昵称
                <span class="item-note">
                    {{user.nickName}}
                </span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="openPasswordModal()">
                更改密码
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item item-divider">
            </ion-item>

            <ion-item class="item-icon-right" ng-click="openMobileModal()">
                手机
                <span class="item-note">
                    {{user.mobile}}
                </span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="openEmailModal()">
                邮箱
                <span class="item-note">
                    {{user.email}}
                </span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item item-divider">
            </ion-item>

            <ion-item class="item-icon-right" ng-click="openGenderModal()">
                性别
                <span class="item-note">
                    {{user.gender=="M"?"王子":"公主"}}
                </span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="openSignatureModal()">
                签名
                <span class="item-note">
                    {{user.lastWord}}
                </span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
			<ion-item class="item-icon-right" ng-click="logoff()">
                退出登录
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
