<ion-view view-title="重置密码">

    <ion-nav-buttons side="left">
        <button class="button back-button button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack()">
        </button>
    </ion-nav-buttons>

    <ion-content padding="true">
		<div style="margin-top:5px; margin-bottom: 5px;">输入注册时填写的邮箱或手机号来重置密码</div>
        <form name="forget_pwd_form" novalidate ng-submit="forgetPwd(user)" ng-controller="ForgetPwdCtrl">
            <div class="large-12 columns">
                <span class="input-label">手机</span>
                <input type="text" style="border: 1px solid lightgrey; width: 100%;" name="mobile" ng-model="user.mobile">
            </div>
			<div class="large-12 columns">
                <span class="input-label">邮箱</span>
                <input type="email" style="border: 1px solid lightgrey; width: 100%;" name="email" ng-model="user.email">
            </div>
            <div class="padding">
                <button class="button button-block button-calm" type="submit">
                    确定
                </button>
            </div>
    </form>
</ion-content>
</ion-view>