<ion-view view-title="重置密码">

    <ion-nav-buttons side="left">
        <button class="button back-button button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack()">
        </button>
    </ion-nav-buttons>

    <ion-content padding="true">
        <form name="forget_pwd_form" novalidate ng-submit="forgetPwd(user)" ng-controller="ForgetPwdCtrl">
            <div class="large-12 columns">
                <span class="input-label">Email</span>
                <input type="email" style="background-color:#ddf0f8; width:100%" name="email" ng-model="user.email" ng-minlength="3" ng-maxlength="20" required>
                <div class="error"
                     ng-show="forget_pwd_form.email.$dirty && forget_pwd_form.email.$invalid &&
                            forget_pwd_form.submitted">
                    <small class="error"
                           ng-show="forget_pwd_form.email.$error.required">
                        Your email is required.
                    </small>
                    <small class="error"
                           ng-show="forget_pwd_form.email.$error.minlength">
                        Your email is required to be at least 6 characters
                    </small>
                    <small class="error"
                           ng-show="forget_pwd_form.email.$error.email">
                        That is not a valid email. Please input a valid email.
                    </small>
                    <small class="error"
                           ng-show="forget_pwd_form.email.$error.maxlength">
                        Your email cannot be longer than 20 characters
                    </small>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-calm"
                        type="submit">
                    Submit
                </button>
            </div>
    </form>
</ion-content>
</ion-view>