<ion-modal-view view-title="游记封面">
	<ion-header-bar>
        <button class="button button-clear btn-warning" ng-click="closeNewArticle()">取消</button>
        <button class="button button-clear button-calm" ng-click="confirmNewArticle()">确定</button>
    </ion-header-bar>
	<ion-content>
		<label class="item item-input">
			<input ng-model="data.articleTitle" type="text" placeholder="游记标题" value="{{data.articleTitle}}"/>
		</label>
		<label class="item item-input" style="margin-top:10px;">
			<input ng-model="data.articleDesc" type="text" placeholder="游记标题" value="{{data.articleDesc}}"/>
		</label>
		<div style="margin-top: 10px;">封面图片(点击可更换)</div>
		<a ng-click="changeCoverImg()">
			<div>
			    <img class="full-image" src="{{data.coverImg}}">
		  </div>
		</a>
	</ion-content>
</ion-modal-view>