<ion-view view-title="Gender">
    <ion-nav-buttons side="left">
        <button class="button back-button button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-checkmark-circled header-item" ng-click="save()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list">
            <ion-radio ng-repeat="item in genderList"
                       ng-value="item.value"
                       ng-model="user.gender" ng-click="genderUpdate(item)">
                {{ item.text }}
            </ion-radio>

        </div>
    </ion-content>
</ion-view>