<ion-view view-title="Update Password">

    <ion-nav-buttons side="left">
        <button class="button back-button button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-checkmark-circled header-item" ng-click="save()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <form name="updatepassword_form" novalidate ng-submit="updatePassword()">
                <div  class="large-12 columns">
                    <span class="input-label">Old Password</span>
                    <input type="text" name="oldPassword" ng-model="oldPassword" ng-minlength="6" ng-maxlength="20"
                           required>
                    <div class="error"
                         ng-show="updatepassword_form.oldPassword.$dirty && updatepassword_form.oldPassword.$invalid &&
                            && updatepassword_form.submitted">
                        <small class="error"
                               ng-show="updatepassword_form.oldPassword.$error.required">
                            Your old password is required.
                        </small>
                        <small class="error"
                               ng-show="updatepassword_form.oldPassword.$error.minlength">
                            Your old password is required to be at least 6 characters
                        </small>
                        <small class="error"
                               ng-show="updatepassword_form.oldPassword.$error.maxlength">
                            Your old password cannot be longer than 20 characters
                        </small>
                    </div>
                </div>
                <div class="large-12 columns">
                    <span class="input-label">New Password</span>
                    <input type="{{type?'text':'password'}}" name="newPassword" ng-model="newPassword" required>
                    <input type="checkbox" ng-model="type" />
                    <div class="error"
                         ng-show="updatepassword_form.newPassword.$dirty && updatepassword_form.newPassword.$invalid &&
                            updatepassword_form.submitted">
                        <small class="error"
                               ng-show="updatepassword_form.newPassword.$error.required">
                            Your new password is required.
                        </small>
                        <small class="error"
                               ng-show="updatepassword_form.newPassword.$error.minlength">
                            Your new password is required to be at least 6 characters
                        </small>
                        <small class="error"
                               ng-show="updatepassword_form.newPassword.$error.maxlength">
                            Your new password cannot be longer than 20 characters
                        </small>
                    </div>
                </div>
                <div class="padding">
                    <button class="button button-block button-positive"
                            type="submit">
                        Update-Password
                    </button>
                </div>
</form>
</ion-content>