<ion-modal-view view-title="NickName">
    <ion-header-bar>
        <button class="button button-clear btn-warning" ng-click="closeModal()">Cancel</button>
        <button class="button button-clear button-positive" ng-click="saveModal()">Save</button>
    </ion-header-bar>
         <ion-content>
             <input type="text" name="username" ng-model="tempname" ng-minlength="6" ng-maxlength="20" required>
             <div class="error"
                  ng-show="username.$dirty && username.$invalid">
                 <small class="error"
                        ng-show="username.$error.required">
                     Your name is required.
                 </small>
                 <small class="error"
                        ng-show="username.$error.minlength">
                     Your name is required to be at least 6 characters
                 </small>
                 <small class="error"
                        ng-show="username.$error.maxlength">
                     Your name cannot be longer than 20 characters
                 </small>
             </div>
</ion-content>
</ion-modal-view>