<ion-view view-title="Forgot Password">
    <ion-nav-buttons side="left">
        <button class="button back-button button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-checkmark-circled header-item" ng-click="save()">
        </button>
    </ion-nav-buttons>

    <ion-content padding="true">
        <p>Reclaim Password Successully.</p>
        <p>We have send email to your email address {{user.email}}, please reset your password in 30 mins</p>
    </ion-content>
</ion-view>