<ion-modal-view>
	<ion-header-bar class="bar-calm fix-buttons">
	  <h1 class="title">分享游记到</h1>
	  <a class="button" ng-click="closeShare()">取消</a>
	</ion-header-bar>
	<ion-content>
		<div style="margin-left: auto; margin-right: auto;">
		  <span>
			<a href="#" ng-click="shareToTimeline()"><img src="img/pyq.jpg" style="width: 64px; margin: 20px;"></a>
			<a href="#" ng-click="shareToFriends()"><img src="img/wxhy.jpg" style="width: 64px; margin: 20px;"></a>
		  </span>
		</div>
	</ion-content>
</ion-modal-view>