<ion-view view-title="用户注册">

    <ion-nav-buttons side="left">
        <button class="button back-button button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <form name="signup_form" novalidate ng-submit="signUp(user)" ng-controller="SignUpCtrl" style="margin:10px;">
                <div  class="large-12 columns">
                    <span class="input-label">用户名</span>
                    <input type="text" style="border: 1px solid lightgrey; width: 100%;" name="username" ng-model="user.username" ensure-unique="username" required>
                    <div class="error" ng-show="signup_form.username.$dirty && signup_form.username.$invalid && signup_form.submitted">
                        <small class="error" ng-show="signup_form.username.$error.required">
                            请输入用户名.
                        </small>
                    </div>
                </div>
                <div class="large-12 columns">
                    <span class="input-label">密码</span>
                    <input type="password" style="border: 1px solid lightgrey; width: 100%;" name="password1" ng-model="user.password1" ng-minlength="6" ng-maxlength="20" required>
                    <div class="error" ng-show="signup_form.email.$dirty && signup_form.email.$invalid && signup_form.submitted">
                        <small class="error" ng-show="signup_form.email.$error.required">
                            请输入邮箱.
                        </small>
                        <small class="error" ng-show="signup_form.email.$error.minlength">
                            密码至少为6位
                        </small>
                        <small class="error" ng-show="signup_form.email.$error.maxlength">
                            密码不能超过12位
                        </small>
                    </div>
                </div>
                <div class="large-12 columns">
                    <span class="input-label">重复密码</span>
                    <input type="password" style="border: 1px solid lightgrey; width: 100%;" name="password2" ng-model="user.password2" required>
                    <div class="error" ng-show="signup_form.password.$dirty && signup_form.password.$invalid && signup_form.submitted">
                        <small class="error" ng-show="signup_form.password.$error.required">
                            密码不能为空.
                        </small>
                        <small class="error" ng-show="signup_form.password.$error.minlength">
                            密码至少为6位
                        </small>
                        <small class="error" ng-show="signup_form.password.$error.maxlength">
                            密码不能超过12位
                        </small>
                    </div>
                </div>
                <div class="padding">
                    <button class="button button-block button-calm" type="submit">
                        注册
                    </button>
                </div>
</form>
</ion-content>
</ion-view>