<ion-view view-title="用户登录">

    <ion-nav-buttons side="left">
        <button class="button back-button button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <form name="signin_form" novalidate ng-submit="signIn()" ng-controller="SignInCtrl" style="margin:10px;">
                <div class="large-12 columns">
                    <span class="input-label">用户名</span>
                    <input type="text" style="border: 1px solid lightgrey; width: 100%;" name="username" ng-model="user.username" required>
                    <div class="error" ng-show="signin_form.username.$dirty && signin_form.username.$invalid && signin_form.submitted">
                        <small class="error" ng-show="signin_form.username.$error.required">
                            请输入用户名.
                        </small>
                    </div>
                    </div>
                    <div class="large-12 columns">
                        <span class="input-label">密码</span>
                        <input type="password" style="border: 1px solid lightgrey; width: 100%;" name="password" ng-model="user.password" ng-minlength="6" ng-maxlength="20" required>
                        <div class="error" ng-show="signin_form.password.$dirty && signin_form.password.$invalid && signin_form.submitted">
                            <small class="error" ng-show="signin_form.password.$error.required">
                                请输入密码.
                            </small>
                            <small class="error" ng-show="signin_form.password.$error.minlength">
                                密码至少为6位
                            </small>
                            <small class="error" ng-show="signin_form.password.$error.maxlength">
                                密码不能超过12位
                            </small>
                        </div>
                    </div>
                        <div class="padding">
                            <button class="button button-block button-calm" type="submit">
                                登录
                            </button>
                            <p class="text-center">
                                <a href="#/forgot-password">忘记密码</a>
                            </p>
                            <p class="text-center">
                                <a href="#/sign-up">免费注册</a>
                            </p>
                        </div>
        </form>
</ion-content>
</ion-view>