<ion-view view-title="途八哥游记">
  <ion-content>
    <button class="button button-full button-positive" ng-click="getPhoto()">
	 帅哥，拍张照片嘛！
	</button>
    <button class="button button-full button-calm" ng-click="selectPhoto()">
	 帅哥，选照片吧！
	</button>
	
    <button class="button button-full button-balanced" ng-click="captureImage()">
	 抓拍照片
	</button>
    <button class="button button-full button-energized" ng-click="captureVideo()">
	 抓拍视频
	</button>
    <button class="button button-full button-royal" ng-click="captureAudio()">
	 录声音
	</button>
	<button class="button button-full button-calm" ng-click="uploadPhoto()">
	 上传照片
	</button>
	<button class="button button-full button-calm" ng-click="scanQrcode()">
	扫二维码
	</button>
	<p ng-repeat="img in images">
		<img ng-src="{{img}}" style="width:100%;" />
	</p>
	<div ng-repeat="sound in sounds">
		<audio src="{{sound}}" style="width:100%;" controls="controls"></audio>
	</div>
	<p ng-repeat="video in videos">
		<video ng-src="{{video}}" style="width:100%;" controls="controls"></video>
	</p>
  </ion-content>
</ion-view>