
<ion-view  hide-nav-bar="true" style="z-index: 9999" view-title="个人中心">
  <ion-content class="padding" style="background-color:#eee;">
	<a id="loginLink" href="#/sign-in" style={{loggedIn?"display:none;":"display:block;"}}>
		<div class="unlogin">
		  <img src="img/users/t1.jpg"/>
		  <button class="login">立即登录</button>
		</div>
		<div class="user-img">
		  <img src="img/users/user_avatar_unlogin@2x.png">
		</div>
	</a>
	<a id="infoLink" href="#/tab/accountsettings" style={{loggedIn?"display:block;":"display:none;"}}>
		<div class="unlogin">
		  <img src="img/users/t1.jpg"/>
		  <button class="login">立即登录</button>
		</div>
		<div class="user-img">
		  <img src="img/users/user_avatar_unlogin@2x.png">
		</div>
	</a>
    <div class="content">
      <nav style="margin-top:10px; background-color:white;">
        <ul>
          <li><a href=""><span class="icon ion-ios-glasses-outline setting-li"></span><span style="display: inline-block;">关注</span></a></li>
		  <li class="li-divider"></li>
          <li><a href="#/tab/account/profile"><span class="icon ion-ios-download-outline setting-li"></span><span style="display: inline-block;">下载</span></a></li>
		  <li class="li-divider"></li>
          <li><a href="#/tab/account/settings"><span class="icon ion-ios-gear-outline setting-li"></span><span style="display: inline-block;">设置</span></a></li>
		  <li class="li-divider"></li>
          <li><a href=""><span class="icon ion-ios-loop setting-li"></span><span style="display: inline-block;">版本更新</span></a></li>
        </ul>
      </nav>
    </div>
  </ion-content>
</ion-view>