<ion-view view-title="途八哥">
    <ion-nav-buttons side="right">
        <div id="search-bar">
            <div class="item item-input-inset" style="background-color:transparent;border-width:0px;margin-top:0px;padding:0px;">
                <label class="item-input-wrapper" id="search-input" style="background-color:transparent;border:1px solid white;">
                    <i class="icon ion-search placeholder-icon" style="color:white;"></i>
                    <input type="text" placeholder="" ng-model="query" ng-change="search()">
                </label>
            </div>
        </div>
    </ion-nav-buttons>
  <ion-content class="padding">
      <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000">
          <ion-slide ng-repeat="slider in sliders">
              <div style="">
                <img ng-src="{{slider.img}}" style="width:100%">
              </div>
          </ion-slide>
      </ion-slide-box>
      <ion-list>
          <ion-item class="" ng-repeat="chat in chats" type="item-text-wrap">
              <!--<img ng-src="{{chat.face}}">
              <h2>{{chat.name}}</h2>
              <p>{{chat.lastText}}</p>
              <i class="icon ion-chevron-right icon-accessory"></i>-->
              <div class="">
                  <div class="article-tile">
                      <img class="full-image" src="{{chat.coverImg}}">
                      <div class="tile-text">
	                      <div class="tile-title">
	                          {{chat.title}}
	                      </div>
	                      <div class="tile-sub-title">
	                      	{{chat.description}}
	                      </div>
                      </div>
                  </div>
              </div>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
