<ion-view>
	<ion-nav-title>
		<div id="search-bar">
            <div class="item item-input-inset" style="background-color:transparent;border-width:0px;margin-top:0px;padding:0px;">
                <label class="item-input-wrapper" id="search-input" style="background-color:transparent;border:1px solid white;">
                    <i class="icon ion-search placeholder-icon" style="color:white;"></i>
                    <input type="text" placeholder="" ng-model="query" ng-change="search()">
                </label>
            </div>
        </div>
	</ion-nav-title>
  <ion-content class="padding">
      <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000">
          <ion-slide ng-repeat="slider in sliders">
              <div style="">
                <img ng-src="{{slider.img}}" style="width:100%">
              </div>
          </ion-slide>
      </ion-slide-box>
	  <div class="short-cut">
          <a href="#/myarticles" class="footItem1"><span class="entypo-heart icon ion-folder"></span>游记本</a>
          <a href="#/timeline/current" class="footItem2"><span class="entypo-user icon ion-ios-book"></span>当前游记</a>
      </div>
      <ion-list class="article-list">
          <ion-item class="" ng-repeat="chat in chats" type="item-text-wrap" href="#/timeline/{{chat.uuid}}">
              <div class="">
                  <div class="article-tile">
                      <img class="full-image" src="{{chat.coverImg}}">
                      <div class="tile-text">
	                      <div class="tile-title">
	                          {{chat.title}}
	                      </div>
	                      <div class="tile-sub-title">
	                      	{{chat.coverImg}}
	                      </div>
                      </div>
                  </div>
              </div>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
